/*
colors
  darkblue:   #0c2a42
  lightblue:  #205376
  peach:      #efccb3 

fonts:
  font-family: 'Libre Baskerville', serif;

icon pack:

  
Jimages:
Photo by Alexander Daoud from Pexels
blue dress Photo by Hakeem James Hausley from Pexels
man feet Photo by Ketut Subiyanto from Pexels
group Photo by Alexander Daoud from Pexels
*/

/* Reset */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding 0:
}
a {
  text-decoration: none;
}
img {
  display: block;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

/* header styles */
.page-wrapper {
  overflow: hidden;
  /* background: linear-gradient(#0c2a42, #205376); */
}
.site-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#0c2a42, #205376);
  position: relative;
}
.street-image {
  position: absolute;
  top: -60%;
  left: -40%;
  height: 70vw;
  width: 70vw;
  background: right / 100% no-repeat url('../images/pexels-alexander-daoud-3171622.jpg');
  border-radius: 50%;
  z-index: 100;
}
.street-image::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 50%;
  top: 60%;
  left: 60%;
  /* translate(horiz coordinate, vert coordinate) */
  transform: translate(-60%, -60%);
  border-radius: 50%;
  background-color: #0c2a42
}
.site-header::before {
  content: '8';
  font-family: 'Libre Baskerville', serif;
  font-size: 140vw;
  position: absolute;
  right: -500px;
  top: 50%;
  transform: translate(0, -50%) rotate(-90deg);
  color: #fff;
  opacity: 0.10;
  z-index: 1;
}
.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  /* border: solid 1px blue; */
  z-index: 100;
}

/* main navigation */
.main-nav {
  z-index: 100;
}
.main-nav > ul {
  display: flex;
  justify-content: flex-end;
  padding: 1.5em 0;
  list-style: none;
}
.list-item {
  margin-left: 4.5em;
}
.list-item a {
  color: linen;
  text-decoration: none;
  font-size: 1.25em;
  padding: .75em;
  /* border: solid 2px pink; */
}
.title-wrapper h1 {
  font-size: 5em;
  color: linen;
  margin: 0 0 .5em;
}
.site-tag {
  font-size: 2em;
  color: #efccb3;
}
.title-wrapper {
  /* flex-grow | flex-shrink | flex-basis
  default -> flex: 0 1 auto; */
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.title-content {
  /* border: solid 2px lime; */
  padding: 0 5% 0 0;
  max-width: 50vw;
}

/* Main content */
main.container,
.immersive,
.cta-block,
.testamonial-block {
  margin: 5em auto;
}

/* Products section */
.contracts {
  /* border: solid 2px red; */
}
.contracts > h2,
.contracts > p {
  text-align: center;
  color: #205376;
}
.contracts > h2,
.immersive .container > h2,
.cta-block h2 {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 0;
  color: #0c2a42;
}
.contracts > p {
  font-size: 1.25em;
  font-weight: 400; 
}
.contracts-list {
  display: flex;
  justify-content: center;
  margin: 5% 20%;
  /* margin: 0 auto; */
  /* max-width: 75vw; */
  /* border: solid 2px green; */
}
.contracts-list li {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.contracts-list > li:nth-child(2) {
  margin: 0 15%;
}
/* 'align-items: center;' does not center <p> text at small screens */
.contracts-list > li p {
  text-align: center;
}
.icon-container > img {
  width: 80px;
}

/* Immersive section */
.immersive {
  background-color: #0c2a42;
  padding: 6.5em 10em;
  overflow: hidden;
}
.immersive-body {
  display: flex;
  /* don't seem to need this: flex-grow: 1; */
  padding: 4em 4em 6em 3em;
  position: relative;
}
.immersive .container > h2 {
  color: linen;
}
.immersive .container > p {
  color: #efccb3;
  font-size: 1.5em;
  margin: 0 0 1.5em 0;
}
.immersive-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.immersive-content > h3,
.immersive-content > p {
  color: linen;
}
.immersive-content h3 {
  font-size: 2.5em;;
}
.immersive-content p {
  font-size: 1em;
  line-height: 1.5em;
}
span {
  color: #efccb3;
}
.immersive-img-wrapper {
  width: 60%;
  /* position: relative; */
}
.immersive-img-wrapper img {
  /* height: 50%; */
  width: 80%;
  z-index: 100;
}
.immersive-img-wrapper {
  z-index: 100;
}
.immersive-body::after {
  content: '';
  display: block;
  width: 15%;
  height: 100%;
  background-color: #efccb3;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.immersive-body::before {
  content: '';
  display: block;
  position: absolute;
  width: 30%;
  height: 20%;
  background-color: #fff;
  top: 0;
  right: 45%;
  position: absolute;
  z-index: 1;
}
.immersive-img-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  width: 15%;
  height: 50%;
  background-color: #515c8b;
  top: 40%;
  right: 48%;
  z-index: -1;
}
.immersive::before {
  /* content: ''; */
  position: absolute;
  width: 110vw;
  height: 110vh;
  border: dashed 2px #fff;
  opacity: 0.4;
  right: -5%;
  top: 160%;
  border-radius: 50%;
}

/* CTA block */
.cta-block {
  padding: 4em 6.5em 9em 6.5em;
  min-height: 80vh;
  overflow: hidden;
  margin: 6em 10em;
}
.cta-block > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  position: relative;
}
.cta-title-wrap h2 {
  color: #0c2a42;
  margin-bottom: 1em;
}
.cta-body {
  /* padding-bottom: 8em; */
}
.cta-body::before {
  /* not succeeding in making resposive :( */
  content: '';
  position: absolute;
  height: 50vw;
  width: 50vw;
  border: dashed 3px #205376;
  border-radius: 50%;
  top: -10%;
  left: 0;
  transform: translate(-40%, 0);
  opacity: 0.4;
}
.cta-sections {
  display: flex;
  flex-direction: row;
}
.cta-text-wrap {
  padding: 0 2em 0 0;
  width: 50%;
  color: #777;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cta-text-wrap p:first-child {
  margin-top: 0;
}
.cta-text {
  padding-bottom: 22%;
}
.cta-img-section {
  width: 50%;
  position: relative;
}
.cta-img-wrap {
  width: 70%;
  position: absolute;
  right: 40px;
}
.cta-img-wrap img {
  width: 100%;
}
.cta-btns ul {
  display: flex;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}
.cta-btns ul li {
  width: 35%;
  margin-right: 3em;
  background-color: #0c2a42;
  border-radius: 3px;
}
.cta-btns ul li a {
  display: inline-block;
  width: 100%;
  padding: 1em 1.75em;
  text-transform: uppercase;
  font-size: .75em;
  color: #fff;
  text-align: center;
}
.btn-list li:last-child a {
  /* last-child goes on list-item, not anchor */
  color: #efccb3;
}
.btn-list li:first-child::before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #efccb3;
  transform: rotate(45deg);
  bottom: -25px;
  left: -30px;
}
.cta-img-wrap::before {
  content:'';
  position: absolute;
  height: 500px;
  width: 200px;
  background-color: #efccb3;
  z-index: -1;
  right: -40px;
  top:-80px;
}
.cta-img-wrap::after {
  content:'';
  position: absolute;
  height: 90px;
  width: 300px;
  background-color:#0c2a42;
  z-index: -1;
  right: 60px;
  top: 200px;
} 

/* Testamonial Block */
.testamonials {
  padding: 3em 0 4em 0;
  background-color: #ebf2f5;
  overflow: hidden;
  position: relative;
}
.testamonials::before {
  content: '';
  position: absolute;
  width: 40vw;
  height: 40vw;
  border: dashed 3px #0c2a42;
  display: block;
  right: -10%;
  border-radius: 50%;
  top: 10%;
}
.testamonials h2 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
}
.testamonial-list {
  position: relative; /* need for z-index */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
}
.testamonial-list > li {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 100px;
  position: relative;
  padding-top: 50px;
}
.avatar {
  border-radius: 50%;
  width: 30%;
  padding-bottom: 30%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 50%;
  transform: translate( -50%, -50%);
  margin-bottom: 100px;
}
.avatar > img {
  /* border-radius: 50%; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testamonial-item {
  display: inline-block;
  padding: 3em 0 1.5em 0;
  background-color: #fff;
  flex: 0 300px;
  margin-bottom: 6em;
  /* border: solid 1px black; */
}
.testamonial-item p,
.testamonial-item h3 {
  text-align: center;
}
.testamonial-stars {
  display: flex;
  justify-content: center;
}
.testamonial-stars li {
  margin: 0 5px;
}
.testamonial-btn {
  text-align: center;
}
.testamonial-btn a {
  border: solid 1px black;
  padding: 1em 1.75em;
  background-color: #0c2a42;
  text-transform: uppercase;
  color: #efccb3;
  border-radius: 3px;
}

